<header class="header">
  <div class="header-container container d-flex d-justify-content-space-between d-align-items-center">
    <a class="header-text">devjobs</a>

    <div class="header-theme-container d-flex d-flex-gap-l">
      <span class="jobs-icon-sun"></span>
      <input type="checkbox" id="theme-switch" class="input-theme">
      <label for="theme-switch" class="label-theme"></label>
      <span class="jobs-icon-moon"></span>
    </div>

    <app-filter-jobs class="header-filter-container container"></app-filter-jobs>
  </div>
</header>
