.header {
  height: var(--header-height);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/assets/svg/bg-pattern-header.svg");
  border-bottom-left-radius: 9rem;
  color: var(--text-color);

  .header-container {
    position: relative;
    display: flex;
    height: calc(100% - 4rem);

    .header-text {
      font-size: 3.2rem;
      font-weight: 700;
    }

    .header-filter-container {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, calc(50% + 4rem));
      width: 100%;
    }
  }

  .header-theme-container {
    span {
      font-size: 2.4rem;
    }

    .input-theme {
      width: 0;
      height: 0;
      visibility: hidden;
      position: absolute;
    }

    .input-theme:checked + .label-theme:after {
      left: 58%;
    }

    .label-theme {
      width: 4.8rem;
      height: 2.4rem;
      position: relative;
      display: block;
      background-color: var(--body-color);
      border-radius: 2rem;
      transition: all 0.3s;

      &:after {
        transition: inherit;
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        background-color: var(--violet);
        border-radius: 50%;
        top: 20%;
        left: 12%;
      }
    }
  }
}
