.header {
  height: var(--header-height);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/assets/svg/bg-pattern-header.svg");
  border-bottom-left-radius: 9rem;
  color: var(--text-color);

  .header-container {
    position: relative;
    display: flex;
    height: calc(100% - 4rem);

    .header-text {
      font-size: 3.2rem;
      font-weight: 700;
    }

    .header-filter-container {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, calc(50% + 4rem));
      width: 100%;
    }
  }
}
