<div class="card-container d-position-r d-flex d-flex-direction-column d-flex-gap-xl">
  <div class="card-image-container">
    <img src="assets/images/logo-test.webp" alt="company">
  </div>

  <div class="d-flex d-flex-direction-column d-flex-gap-x details-container">
    <label class="d-font-size-l">5h ago &bullet; Full Time</label>
    <label class="d-font-size-xxl d-font-weight-bold">Senior Software Engineer</label>
    <label class="d-font-size-l">Scoot</label>
  </div>

  <div class="city-container">
    <label class="d-font-size-xl d-font-weight-bold">United Kingdom</label>
  </div>
</div>
