.filter-jobs-container {
  height: 8rem;
  background-color: var(--body-color);
  color: var(--text-color-secondary);
  border-radius: 6px;
  overflow: hidden;

  .filter-jobs-input-container {
    width: 100%;
    height: 100%;

    &:first-child {
      padding: 3rem;
    }

    .filter-jobs-input {
      height: 100%;
    }

    .filter-jobs-input-icon {
      font-size: 2.4rem;
      color: var(--icon-violet);
    }
  }
}
