<section class="filter-jobs-container d-flex d-justify-content-space-between">
  <div class="filter-jobs-input-container">
    <div class="d-height-100 d-flex d-align-content-center d-align-items-center">
      <span class="jobs-d-search filter-jobs-input-icon"></span>
      <input type="text" dInputText class="filter-jobs-input d-border-0"
             placeholder="Filter by title, Companies, Expertise">
    </div>
  </div>

  <div class="filter-jobs-input-container">
    <div class="d-height-100 d-flex d-align-content-center d-align-items-center">
      <span class="jobs-d-location filter-jobs-input-icon"></span>
      <input type="text" dInputText class="filter-jobs-input d-border-0" placeholder="Filter by location">
    </div>
  </div>

  <div class="filter-jobs-input-container">
    <div class="d-height-100 d-flex d-align-content-center d-align-items-center filter-jobs-checkbox-container">
      <input type="checkbox">
      <label>Full Time Only</label>
      <!--      <span class="jobs-d-location filter-jobs-input-icon"></span>-->
      <!--      <input type="text" dInputText class="filter-jobs-input d-border-0">-->
    </div>
  </div>
</section>
