.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.d-justify-content {
  &-space-between {
    justify-content: space-between;
  }

  &-space-around {
    justify-content: space-around;
  }
}
